
* {
    color: black;
}

body {
    background-color: rgba(252, 248, 199, 0.849);
    padding-bottom: 0px;
    text-align: center;
    margin: 0px 0px;
}

h1 {
    margin: 1%;
    border: solid black;
}

.interact-content {
    border: black 3px double;
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.panel-container {
    display: flex;
    flex-direction:column;
    background-color:rgb(250, 234, 173);
    border: solid black;
    box-shadow: 6px 5px 2px 2px bisque;
    margin: 10% 0;
    padding: 4%;
    justify-content: center;
    gap: 15px;
    border-radius: 0 20px 0 20px;
}

.panel-button {
    background-color: rgb(196, 129, 129);
    padding: 4px 10px;
    border:3px solid;
    border-radius: 0 10px 10px 0; 
}
.resize-button-conf {
    background-color: rgb(196, 129, 129);
}

.container {
    width: 500px;
    background-color: lightyellow;
    height: 500px;
    display: grid;
    padding: 0px;
    grid-template-columns: repeat(16, 20fr);
    margin: 0 auto;
    border-radius: 0px;
    border-top: 2px;
    border-right: 6px;
    border-bottom: 5px;
    border-left: 1px;
    opacity: 0.9;
    border-style:outset;
}
.grid-items {
    border-radius: 1px;
    border: 1px;
    padding: 1px;
}
.grid-items:hover {
    border-radius: 7%;
    margin: -4%;
    cursor: cell;
    box-shadow: 2px 1px 10px 5px rgb(236, 236, 140);
}

.resize-window {
    position: absolute;
    background-color: rgb(196, 129, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border: solid black;
    border-radius: 0 20px 0 20px;
    padding: 1%;
    width: 50%;
}
.resize-window-container{
    padding: 1%;
    margin: 1% 0%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.exitButton {
    background-color: burlywood;
    align-self: flex-end;
    cursor: pointer;
}
button {
    background-color: rgb(196, 129, 129);
}
button:hover {
    transform:scale(1.03);
    box-shadow: 1px 1px 5px 3px white;
    cursor: pointer;
}

.container-resize-inputs{
    color: black;
    display: flex;
    gap: 10px;
    max-width: fit-content;
    overflow-x: hidden;
}
.squares-input {
    background-color: burlywood;
    color: black;
    width: 50%;
    max-width: 50%;
}

.modalElement {
    background-color: aquamarine;
    position: absolute;
    width: 42%;
    height: 20%;
}

footer {
    padding: 2% 0px;
    margin: 0;
    background-color: rgb(20, 18, 17);
    color: white;
    text-shadow: white 1px 1px 3px;
}
