
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


* {
    color: white;
    font-size: medium;
    font-weight: bolder;
}

body {
    background-color: rgb(119, 98, 94);
    padding-bottom: 0px;
    text-align: center;
    margin: 0px 0px;
}

h1 {
    color: black;
    margin:0;
    padding: 1% 0;
    font-size: 50px;
    border-bottom: 2px solid whitesmoke;
    font-family: 'Bungee Inline', cursive;}

.interact-content {
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.panel-container {
    display: flex;
    flex-direction:column;
    background-color:rgb(250, 234, 173);
    border: solid rgb(80, 24, 24);
    box-shadow: 6px 5px 2px 2px bisque;
    margin: 10% 0;
    padding: 4%;
    justify-content: center;
    gap: 15px;
    border-radius: 0 20px 0 20px;
}

.panel-button {
    background-color: rgb(196, 129, 129);
    padding: 4px 10px;
    border:3px solid;
    border-radius: 0 10px 10px 0; 
}
.resize-button-conf {
    background-color: rgb(196, 129, 129);
}

.container {
    width: 550px;
    background-color: lightyellow;
    height: 550px;
    display: grid;
    padding: 0px;
    grid-template-columns: repeat(16, 20fr);
    margin: 0 auto;
    border-radius: 0px;
    border-top: 2px;
    border-right: 6px;
    border-bottom: 5px;
    border-left: 1px;
    opacity: 0.9;
    border-style:outset;
}
.grid-items {
    border: 1px;
    padding: 1px;
}
.grid-items:hover {
    border-radius: 7%;
    margin: -4%;
    cursor: cell;
    transform: scale(1.03);
    box-shadow: 1px 1px 3px 3px rgb(245, 245, 218);
}

.resize-window {
    position: absolute;
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border: solid whitesmoke;
    border-radius: 0 20px 0 20px;
    padding: 1%;
    width: 50%;
}
.resize-window-container{
    padding: 1%;
    margin: 1% 0%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.exitButton {
    background-color: rgb(226, 78, 78);
    color: yellow;
    align-self: flex-end;
    cursor: pointer;
    border-radius:45%;
    width: 3%;
    height:max-content;
    padding: 2px;
}
button {
    background-color: rgb(196, 129, 129);
    font-size: 17px;
    font-family: 'Audiowide', cursive;
}
button:hover {
    transform:scale(1.03);
    box-shadow: 1px 1px 5px 3px white;
    cursor: pointer;
}
#reload-button {
    background-color: brown;
}
#input-div-color{
    display: flex;
    flex-direction: column;
    font-family: 'Audiowide', cursive;
    color: brown;
    align-items: center;
    gap: 12px;
}
.container-resize-inputs{
    color: black;
    display: flex;
    gap: 10px;
    max-width: fit-content;
    overflow-x: hidden;
}
.squares-input {
    background-color: burlywood;
    color: black;
    width: 50%;
    max-width: 50%;
}

.modalElement {
    background-color: #133239;
    position: absolute;
    width: 42%;
    height: 20%;
}

footer {
    padding: 1% 0px;
    margin: 0;
    background-color: #133239;
    color: white;
    text-shadow: white 1px 1px 3px;
}
